.profile__info-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .profile__info-panel {
    flex-direction: column;
  }
}
