.popup__close-button {
  padding: 0;
  position: absolute;
  top: -34px;
  right: -34px;
  width: 34px;
  height: 34px;
  background-image: url('../../../images/close-icon.svg');
  background-color: transparent;
  background-size: cover;
  border: 0;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 560px) {
  .popup__close-button {
    top: -24px;
    right: -24px;
    width: 24px;
    height: 24px;
  }
}
